{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Page 1</h1>

    <div class="container">
  <h2>Form Validation</h2>
  <p>In this example, we use <code>.was-validated</code> to indicate what's missing before submitting the form:</p>
  <form action="/r" class="was-validated">
      <!-- Height -->
    <div class="form-group">
      <label for="Height">What is your height?:</label>
      <input type="number" class="form-control" id="height" placeholder="Enter height(ft)" name="Height" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <!-- Weight -->
    <div class="form-group">
      <label for="Weight">What is you weight?:</label>
      <input type="number" class="form-control" id="weight" placeholder="Enter weight (lbs)" name="Weight" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <!-- age -->
    <div class="form-group">
        <label for="Age">Please select your age.:</label>
         <input type="radio" id="age1" name="age" value="14">
         <label for="age1">14 - 30</label><br>
         <input type="radio" id="age2" name="age" value="31">
         <label for="age2">31 - 50</label><br>
         <input type="radio" id="age3" name="age" value="51">
         <label for="age3">51 - 60</label><br>
         <input type="radio" id="age4" name="age" value="61">
         <label for="age4">61 - 75</label><br>
         <input type="radio" id="age5" name="age" value="76">
         <label for="age5">76 - 85</label><br>
         <input type="radio" id="age6" name="age" value="86">
         <label for="age6">86 - 100</label><br>
         <input type="radio" id="age7" name="age" value="100">
         <label for="age7">101+</label><br><br>
    </div>
    <!-- body type -->
    <div class="form-group">
      <label for="BodyType">Are you looking to be slim, fit, or hulking?:</label>
      <input type="text" class="form-control" id="bodyType" placeholder="Enter body type" name="BodyType" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
     <!-- want to workout? -->
    <div class="form-group">
      <label for="YourChoice">Are you working out by choice?:</label>
      <input type="text" class="form-control" id="yourChoice" placeholder="Enter your choice" name="YourChoice" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>   <!-- want to workout? -->
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember" required> I am doing this of my own accord and not just filling it untruthfully.
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Check this checkbox to continue.</div>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>








  </form>
















</div>







{% endblock %}
