<!DOCTYPE html>
<html>
  <head>
    <title>Response</title>
  </head>
  <body>
    <h1>Response:</h1>
    <p>{{ response1 }}</p>
    <p>{{ response2 }}</p>
    <p>{{ response3 }}</p>
    <p>{{ response4 }}</p>
    <p>{{ response5 }}</p>
    <p>{{ response6 }}</p>
    <p>{{ response7 }}</p>
    <p>{{ response8 }}</p>
    <p>{{ response9 }}</p>
    <p>{{ response10 }}</p>
    <p>{{ response11 }}</p>
    <p>{{ response12 }}</p>
    <p>{{ response13 }}</p>
    <p>{{ response14 }}</p>
    <p>{{ response15 }}</p>
    <p>{{ response16 }}</p>
    <p>{{ response17 }}</p>
    <p>{{ response18 }}</p>
    <p>{{ response19 }}</p>
    <p>{{ response20 }}</p>
    <p>{{ response21 }}</p>
    <p>{{ response22 }}</p>
    <p>{{ response23 }}</p>
  </body>
</html>
